.tab_outerwrap_big{border:1px solid #000;float:left;margin:0;padding-bottom:10px;width:950px;}
ul.tabs_big{background:url("/images/tab-gradient.png") repeat-x scroll 0 0 transparent;height:35px;list-style:none outside none;margin:0;padding:0;}
ul.tabs_big li{background:url("/images/tab-gradient.png") repeat-x scroll 0 0 transparent;float:left;font-size:12px;line-height:35px;position:relative;border-right:2px solid #fff;padding:0 15px;}
ul.tabs_big li.active{background-color:#FFFFFF;background-image:none;color:#FE6E01;float:left;text-align:center;height:35px;}
ul.tabs_big li.active a span{background:none;}
ul.tabs_big li a{background:none !important;color:#fff;float:left;font-size:20px;font-weight:bold;height:35px;line-height:40px;padding:0;text-align:center;text-decoration:none;}
ul.tabs_big li.last a, ul.tabs_big li.last a span{border:none;background:none !important;}
ul.tabs_big li a span{background:none;padding:0 6px 0 14px;}
ul.tabs_big li.active a span{color:#3d4542;}
ul.tabs_big li a:hover{color:#FE6E01;}
ul.tabs_big li.active a:hover{color:#FE6E01;}
.buy_green{font-size:25px;color:#348781;}
.buy_red{font-family:Lucida Handwriting;font-size:25px;color:#C11B17;}
.article .SidemenuHeading{color:#FFFFFF;font-family:verdana;font-weight:700;font-size:16px;}
.article .subheading{font-size:14px;}
.article .text123{color:#F55018;font-family:Verdana;font-size:11px;font-weight:700;}
.article .text1{color:#000000;font-family:Verdana;font-size:11px;line-height:16pt;text-decoration:none;}
.article tbody,.article tfoot, .article thead,.article tr,.article th,.article td{vertical-align:middle;line-height:16pt;}