body{
	font-family:Arial,geneva,helvetica,sans-serif;
	font-size:12px;
	position:relative;
}

/* Login css Starts*/
#outer_area
{
	width:790px;
	height:327px;
	border:14px solid #000;
	

}

#inner_area{
	width:714px;
	margin:42px 15px 0px 32px;
	

}


#inner_box_left{
	width:300px;
	height:210px;
	float:left;
	border:5px solid #c0c1c1;
	padding:0px 0px 5px 10px;

}
#inner_box_right{
	width:342px;
	height:210px;
	float:right;
	padding:3px 1px 1px 3px;
	border:1px solid #000;

	

}
#inner_line{
	width:329px;
	height:203px;
	display:block;
	background-color:#eee;
	padding:0px 0px 5px 10px;

}
#inner_area h3, #signup_area h3{
	color:#0078c3;
	margin:0 0 7px 0;
	text-align:center;
	font-size:18px;
	line-height:1.4em;
}

#inner_area img{
border:0;
}

#inner_box_left form div p{margin:7px 0;width:100%;float:left;}
#inner_box_left form div p label{width:120px;margin:0 0 0 10px;float:left;font-size:12px;color:#000;}
#inner_box_left form div p input{margin:0 0 0 5px;padding:3px;float:left;width:140px;border:1px solid #ccc;}
.downlink_wrapper{margin:10px 0 0 0;padding:0;float:left;clear:both;}
.downlink_wrapper a{text-decoration:none;}
#inner_box_left form p{color:#000;font-size:12px;}

#inner_line p{font-size:12px;color:#000;}
#inner_line a{float:left;clear:both;}
#inner_box_left form .tppoploginbutton{margin:5px 0 0 0; border-radius: 0 0 0 0;text-indent:-9999px;padding:0;float:left;width:145px;height:35px;background:url("../images/login.jpg") no-repeat left top;border:0;cursor:pointer;}

.text_wrap{
	margin-left:15px;
	width:160px;
	border:1px solid #a5b2ac;
}
.downlink{
	color:#0078c3;
}
.downlink_wrapper{
	margin-top:15px;
}
#brand_text{
	width:720px;
	color:#777777;
	text-align:center;
	font-size:1.2em;
	position:absolute;
	bottom:4px;
	left:32px;
	font-weight:bold;

}

#close_button{
	position:absolute;
	right:0px;
	bottom:0px;

}
#left_roundCorner{
	background:url('/images/left_roundCorner.png')no-repeat;
	width:20px;
	height:20px;
	position:absolute;
	top:-14px;
	left:-14px;

}

#right_roundCorner{
	background:url('/images/topright_corner.png')no-repeat;
	width:20px;
	height:20px;
	position:absolute;
	top:-14px;
	right:-14px;
}
#bottomLeft_roundCorner{
	background:url('/images/bottomLeft_corner.png')no-repeat;
	width:20px;
	height:20px;
	position:absolute;
	bottom:-14px;
	left:-14px;
}
#bottomRight_roundCorner{
	background:url('/images/bottomRight_corner.png')no-repeat;
	width:20px;
	height:20px;
	position:absolute;
	bottom:-14px;
	right:-14px;

}

.close{background:url("/images/close_button.jpg") no-repeat left top;}
.close {
    bottom: 10px;
    display: block;
    float: right;
    height: 30px;
    position: absolute;
    right: 10px;
    text-indent: -1e+7px;
    width: 32px;
}
/* Sign up css Starts*/

#signup_area{
	width:980px;
	float:left;
	font-family:Arial,geneva,helvetica,sans-serif;
	font-size:12px;
	color:#000;
	margin-top:10px;
	margin-bottom:20px;

}

#signup_left{
	width:640px;
	border:1px solid #000;
	float:left;


}
#signup_area h3,#signup_area h2{
	color:#0078c3;
	font-size:18px;
	text-align:left;
}
.black_box{
	margin-left:15px;
	width:220px;
	border:1px solid #000;
	margin-bottom:20px;
}
#signup_background{
	background-color:#eee;
	padding-top:18px;
	padding-left:8px;
	padding-right:0px;
	width:625px;
	_width:637px;
	float:left;
	border:3px solid #fff;
}

#label_fields{
	float:left;
	margin-top: 20px;
	padding-left:20px;
	
}
#label_fields p{
	margin-bottom:27px;

}
.red{
	color:red;
}
.newsletter{
	margin-bottom:10px;
	float:left;
}

#signup_right{
	width:310px;
	float:right;
	Padding-left:20px;
	margin:0px;

}

ul.list_tick {
	margin: 0 0 0 20px;
	padding: 0;
}
ul.list_tick li {
	margin:0;
	padding: 0px 0 2px 20px;
	list-style: none;
	background: url('/images/tick.jpg') no-repeat top left;

    }

