ul#topnav{position:relative;margin:0;padding:0;float:left;list-style-type:none;}
ul#topnav li.menu{float:left;margin:0;padding:0 0px 0 0;border-right:1px solid #fff;position:relative;}
ul#topnav li.last{padding:0;background:none;}
ul#topnav li.menu a{float:left;color:#fff;padding:0px 20px 0px 19px;font-size:14px;font-weight:bold;margin:0 0px 0 0;text-decoration:none;background:url("../images/menu_default.png") repeat-x left top;}
ul#topnav li.menu a span{padding:10px 0;float:left;}
ul#topnav li.menu a.active span{background:url("../images/active_menu.png") no-repeat bottom center}
ul#topnav li.menu a:hover span{background:url("../images/active_menu.png") no-repeat bottom center}
ul#topnav li.first a{background:url("../images/menu_left_curve.png") no-repeat left top;padding:0px 21px 0px 21px}
ul#topnav li.first a:hover{background:url("../images/menu_left_active.png") no-repeat left top !important;;}
/* ul#topnav li.grey a{background:url("../images/menu_grey.png") repeat-x left top;} */
ul#topnav li.grey a{background:#bac318;}
ul#topnav li.last a{background:url("../images/menu_right_curve.png") no-repeat right top;margin:0;}
ul#topnav li.last a:hover{background:url("../images/menu_right_curve_hover.png") no-repeat right top !important;margin:0;}
div#preload1{background:url("../images/menu_active_bg.png");display:none;}
ul#topnav li.menu a:hover{color:#fff;background:url("../images/menu_active_bg.png") repeat-x right top;}
ul#topnav li.first a.active{background:url("../images/menu_left_active.png") no-repeat scroll left top transparent !important;}
ul#topnav li.menu a.active{background:url("../images/menu_active_bg.png") repeat-x scroll right top transparent;color:#FFFFFF;}
ul#topnav li.last a.active{background:url("../images/menu_right_curve_hover.png") no-repeat scroll right top transparent !important;margin:0;}
ul#topnav li .links{/*width:570px*/;position:absolute;display:block;top:35px;left:0;z-index:9999;background-color:#fff;border:6px solid #DDDDDD;float:left;clear:both;padding:20px 5px 20px;}
ul#topnav li .links td{vertical-align:top;width:166px}
ul#topnav li .links td.last{background:none;}
ul#topnav li .links ul{margin:0;padding:0;float:left;list-style-type:none;font:1.1em Verdana, Arial, sans-serif;width:100%;clear:both;}
ul#topnav li .links ul li{margin:0;padding:0;margin-bottom:5px;float:left;clear:both;}
ul#topnav li .links ul li a{margin:0;padding:0;height:auto;color:#0077C1;font-size:12px;font-weight:normal;background:none;}
ul#topnav li .links ul li.head_link a{font-size:12px;font-weight:normal;}
ul#topnav li .links ul li.sub_head_link a{font-size:12px;font-weight:normal;}
ul#topnav li .links ul li a:hover{margin:0;padding:0;height:auto;color:#a1d6fe;background:none;text-decoration:underline;}
ul#topnav li .links ul li.title{font:1.3em 'NeoSansProRegular', Arial;color:#EC1C24;}
ul#topnav li .links ul li.title a{color:#EC1C24;}
ul#topnav li .links ul li.head_link{padding-left:0;margin-top:0px;padding-bottom:12px;font:1.3em 'NeoSansProRegular', Arial;}
ul#topnav li .links ul li.sub_head_link{color:#EC1C24;padding-left:0;margin-top:12px;margin-bottom:6px;font:1.3em 'NeoSansProRegular', Arial;}
ul#topnav li .list_holder{float:left;margin:0;width:170px;padding:0px 10px 0px 10px;border-right:1px solid #ddd;}
ul#topnav li .last{border-right:0;background:none;}
ul#topnav li .additional{width:100%;margin-bottom:10px;padding-bottom:10px;}
ul#topnav li.menu .additional ul{margin-left:28px;line-height:1.6em;}
ul#topnav li.menu .additional ul li{float:left;display:block;margin-top:15px;margin-right:20px;}
ul#topnav li .other{float:left;width:150px;margin-left:12px;}
ul#topnav li .other img{float:left;}
ul#topnav li .other a{float:left;padding:0;margin:0;margin-top:10px;margin-left:12px;font:1.1em Verdana, Arial, sans-serif;}
ul#topnav li .other a:hover{background:none;color:#999999;padding:0;margin:0;margin-top:10px;margin-left:12px;font:1.1em Verdana, Arial, sans-serif;}
table.admintable td{padding:3px;}
table.admintable td.key,
table.admintable td.paramlist_key{background-color:#f6f6f6;text-align:right;width:140px;color:#666;font-weight:bold;border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}
table.paramlist td.paramlist_description{background-color:#f6f6f6;text-align:left;width:170px;color:#333;font-weight:normal;border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}
table.admintable td.key.vtop{vertical-align:top;}
table.adminform{background-color:#f9f9f9;border:solid 1px #d5d5d5;width:100%;border-collapse:collapse;margin:8px 0 10px 0;margin-bottom:15px;width:100%;}
table.adminform.nospace{margin-bottom:0;}
table.adminform tr.row0{background-color:#f9f9f9;}
table.adminform tr.row1{background-color:#eeeeee;}
table.adminform th{font-size:11px;padding:6px 2px 4px 4px;text-align:left;height:25px;color:#000;background-repeat:repeat;}
table.adminform td{padding:3px;text-align:left;}
table.adminform td.filter{text-align:left;}
table.adminform td.helpMenu{text-align:right;}
fieldset.adminform{border:1px solid #ccc;margin:0 10px 10px 10px;}
table.adminlist{width:100%;border-spacing:1px;background-color:#e7e7e7;color:#666;}
table.adminlist td,
table.adminlist th{padding:4px;}
table.adminlist thead th{text-align:center;background:#f0f0f0;color:#666;border-bottom:1px solid #999;border-left:1px solid #fff;}
table.adminlist thead a:hover{text-decoration:none;}
table.adminlist thead th img{vertical-align:middle;}
table.adminlist tbody th{font-weight:bold;}
table.adminlist tbody tr{background-color:#fff;text-align:left;}
table.adminlist tbody tr.row1{background:#f9f9f9;border-top:1px solid #fff;}
table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td{background-color:#ffd;}
table.adminlist tbody tr td{height:25px;background:#fff;border:1px solid #fff;}
table.adminlist tbody tr.row1 td{background:#f9f9f9;border-top:1px solid #FFF;}
table.adminlist tfoot tr{text-align:center;color:#333;}
table.adminlist tfoot td,
table.adminlist tfoot th{background-color:#f3f3f3;border-top:1px solid #999;text-align:center;}
table.adminlist td.order{text-align:center;white-space:nowrap;}
table.adminlist td.order span{float:left;display:block;width:20px;text-align:center;}
table.adminlist .pagination{display:table;padding:0;margin:0 auto;}
.pagination div.limit{float:left;height:22px;line-height:22px;margin:0 10px;}
.container{clear:both;text-decoration:none;}
* html .container{display:inline-block;}
table.noshow{width:100%;border-collapse:collapse;padding:0;margin:0;}
table.noshow tr{vertical-align:top;}
table.noshow td{}
table.noshow fieldset{margin:15px 7px 7px 7px;}