#slide{width:100%;height:513px;display:block;}
div.slider-active{width:100%;height:513px;z-index:99;color:#feffff;position:absolute;}
div.slider{width:100%;height:513px;color:#fefffe;display:none;position:absolute;z-index:99;}
a.slider-active{text-decoration:none;padding:0 3px;margin:0px 0px 0px 0px;line-height:14px;float:left;display:inline;background:#fff;text-align:center;color:#000;text-indent: -9999999px;}
a.slider{text-decoration:none;padding:0 3px;float:left;display:inline;margin:0px 0px 0px 0px;line-height:14px;text-align:center;color:#000;text-indent: -9999999px;}
#slide-nav{bottom:10px;position:absolute;z-index:9999;right:50%;}
#slide-nav span.hotspot{float:left;line-height:21px;position:relative;padding:0px 3px 0px 3px;}
/*.slider_bg_img{background:#e9e9e9;float:left;margin:0;padding:3px 5px;}*/