html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}
body{position:relative;background:#fff;font-family:arial, helvectica, sans-serif;font-size:12px;color:#808080;}
body:after{content:url(../images/menu_left_active.png) url(../images/menu_active_bg.png) url(../images/menu_right_curve_hover.png);display:none;}
ol, ul{list-style:none;}
ul.toplinks{list-style:none;}
.clearboth{clear:both;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#e88d12;}
a:hover{color:#808080;}
h2{color:#e88d12;font-weight:bold;font-size:15px;}
#outerwrap{margin:0 auto;padding:0;width:1000px;}
#innerwrap{margin:0;padding:15px 5px 0;float:left;width:990px;}
.robots_banner{margin:0;width:990px;float:left;text-align:center;padding:7px 0 15px 0;position:relative;}
.robots_readmore{margin:0;padding:7px 0;float:right;width:115px;text-align:center;height:17px;font-size:13px;font-weight:bold;color:#434343;text-decoration:none;background:url("../images/robots_readmore.jpg") no-repeat left top;position:absolute;top:73px;right:108px}
#header{margin:0;padding:0px;float:left;width:990px;position:relative;}
.logo{margin:0;padding:0;width:297px;height:69px;float:left;}
.logo img{margin:0;padding:0;border:0;}
#search{float:right;margin:30px 0 0 0;padding:0;width:500px;}
.toplinks{margin:0;padding:0;float:right;}
.toplinks li{margin:0 2px;padding:0;float:left;font-size:12px;color:#000000;}
.toplinks li a{margin:0 3px;padding:0;float:left;font-size:12px;color:#0074c3;text-decoration:none;}
.searchbox{margin:10px 0 0 0;padding:0;float:right;width:300px;clear:both;}
.searchbox input[type="text"]{margin:0;padding:3px 2px;width:230px;border:1px solid #7e9db9;background:#fff;font-size:12px;float:left;}
/*div.mod_googleSearch_cse input.button, .top_search_btn{margin:0 0 0 5px;width:56px;height:24px;cursor:pointer;font-size:11px;color:#fff;background:url("../images/search_btn.png") no-repeat left top;font-weight:bold;border:0;}*/
div.googleSearch_cse input.button{display:none;}
.googleSearch_cse .inputbox{border:medium none;font-size:0;}
.gsc-tabHeader.gsc-tabhInactive{border-bottom:1px solid #F47B16;border-right:1px solid #F47B16;border-top:1px solid #F47B16;}
.gsc-tabHeader.gsc-tabhActive{background:none repeat scroll 0 0 #00528E;border:1px solid #F47B16;color:white;}
#cse-search-results .gsc-refinementsArea{border:none !important;}
.gsc-tabsArea{border-bottom:1px solid #F47B16;}
.googleSearch_cse{text-align:center;}
/*#cse-search-results{height:1450px;overflow:hidden;}*/
.mainmenu{margin:10px 0 0 0;padding:10px 0;float:left;width:100%;}
.secondary_menu{margin:5px 0;padding:0px;float:left;width:990px;}
.secondary_menu ul{margin:0;padding:0;float:left;}
.secondary_menu ul li{margin:0 20px 0 0;padding:0;float:left;list-style:none;}
.secondary_menu ul li a{font-size:13px;color:#666;text-decoration:none;}
.secondary_menu ul li a:hover{color:#E88D12}
.mycart{margin:0 10px 0 0;padding:0;float:right;color:#0078c3;font-size:12px;font-weight:bold;}
.mycart span{font-size:12px;color:#000;font-weight:normal;background:url("../images/carticon.png") no-repeat left 4px;padding:0 0 0 20px; float:right;}
.banner{margin:0;padding:5px 0;float:left;width:990px;}
.slide_outer{width:100%;height:513px;z-index:5;position:relative;}
.content_container{margin:0;padding:30px 15px 10px 15px;float:left;width:960px;}
.content_lhs{margin:0;padding:0;float:left;width:625px;}
.content_rhs{margin:0;padding:0;float:right;width:305px;}
.welcome_title{padding:10px 0;padding:0;font-size:19px;font-weight:bold;color:#5c5f63}
.welcome_title span{color:#105ec9}
.content_lhs p{line-height:21px;font-size:12px;color:#515151;margin:0px 0;text-align:justify;}
.subtitles{margin:0;padding:10px 0;font-size:14px;color:#105ec9;font-weight:normal;}
.community_box{margin:0;padding:8px 10px 5px;float:left;width:285px;height:195px;background:url("../images/community_box.jpg") no-repeat left top;}
.community_box h4{margin:0 0px;padding:0 0 5px 0;font-size:13px;color:#fff;font-weight:normal;width:285px;text-align:center;}
.mailsignup{margin:15px 0 5px 0;padding:0;float:left;width:100%;}
.mailsignup input[type="text"]{margin:0;padding:4px 2px;width:215px;border:1px solid #7e9db9;background:#fff;font-size:12px;float:left;}
.privacy{font-size:13px;color:#676767;margin:10px 0;float:left;}
.privacy a{color:#105ec9;text-decoration:none;}
.social_header{margin:15px 0 10px 0;padding:0;font-size:14px;color:#5a5a5a;float:left;clear:both;width:100%}
.social_media{margin:0;padding:0;float:left;clear:both;width:100%}
.social_media a{margin:5px 7px;}
.file_download{margin:10px 0 10px 1px;float:left;}
.products_container{margin:0;padding:0 15px;float:left;width:960px;}
.products_box_first{margin:0 5px 0 0;padding:13px 10px 20px;float:left;width:165px;height:158px;background:url("../images/products_box.jpg") no-repeat left top;text-align:center;}
.products_box_last{margin:0 0px 0 5px;padding:13px 10px 20px;float:left;width:165px;height:158px;background:url("../images/products_box.jpg") no-repeat left top;text-align:center;}
.products_box{margin:0 4px;padding:13px 10px 20px;float:left;width:165px;height:168px;background:url("../images/products_box.jpg") no-repeat left top;text-align:center;}
.product_title{margin:0 auto;width:auto;padding:0;font-size:15px;color:#013923;font-weight:bold;line-height:25px;display:inline-block;text-align:center;}
.product_title img{margin:0 5px;border:0;float:left;width:auto;}
.product_title span{margin:0;padding:0;display:inline;}
.product_thumb{margin:5px 0 2px;float:left;text-align:center;width:165px;height:70px;}
.product_desc{margin:0 0 0 10px;padding:0;font-size:13px;color:#555455;float:left;height:58px;}
.product_desc span{margin:0;padding:0;font-size:13px;color:#555455;float:left;}
.learnmore{margin:0;padding:0 10px 0 0;float:left;clear:both;color:#3e7cd2;text-decoration:none;width:68px;font-size:13px;background:url("../images/learnmore_arrow.jpg") no-repeat right center;}
.footer_links{background:url("../images/footer_links_bg.jpg") repeat scroll left top transparent;float:left;margin:0;padding:20px 15px 5px;width:960px;}
.footer_inner{margin:0;padding:0 0 15px 0;float:left;width:960px;background:url("../images/footer_heading_border.jpg") repeat-x left bottom;}
.links_outer{float:left;margin:0 110px 0 0;padding:0;}
.links_outer h4{color:#fff;font-size:14px;font-weight:bold;padding:0 0 10px 0;background:url("../images/footer_heading_border.jpg") repeat-x left bottom;}
.links_outer ul{margin:10px 15px 5px 0;padding:0;}
.links_outer ul li{list-style:none outside none;margin:0;padding:4px 0;}
.links_outer ul li a{color:#fff;text-decoration:none;background:url("../images/footer_list_arrow.png") no-repeat left 5px;padding:0 0 0 10px;}
.copyright{padding:5px 0;text-align:center;margin:0;float:left;width:100%;font-size:12px;font-weight:bold;color:#fff;}
.copyright a{font-weight:bold;color:#fff;text-decoration:none;}
.breadcrum_container{float:left;width:990px;padding:5px 0px 0px}
.breadcrum_container h1{width:88%;float:left;font-weight:bold;color:#1c83e5;font-size:19px;}
.breadcrum_container p{width:88%;float:left;font-size:13px;color:#f09028;line-height:16px;}
.breadcrum_container p a.B_active{text-decoration:none}
.left_container_01{float:left;width:194px;padding:0px 10px 0px 0px}
.left_container_02{float:left;width:466px;padding:0px 10px 0px 0px}
.specf_left_header01{color:#fff;width:194px;background:#1877d1 url(../images/header-blue-bg.jpg) repeat-x;float:left;padding:8px 0px;text-align:center;font-size:14px;font-weight:bold;}
.content_container_spe{margin:0;padding:13px 5px 10px 0px;float:left;width:985px;}
ul.blue_list{float:left;width:192px;border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc}
ul.blue_list li{float:left;font-size:13px;float:left;width:164px;}
ul.blue_list li a{float:left;color:#515151;text-decoration:none;background:#fff;}
ul.blue_list li a span{float:left;border-bottom:1px solid #dcdcdc;background:url("../images/blue-arrow.jpg") no-repeat scroll 7px 12px transparent;padding:8px 5px 8px 19px;width:168px;}
ul.blue_list li{float:left;font-size:13px;float:left;width:164px;}
ul.blue_list li a:hover{float:left;color:#fff;text-decoration:none;background:#A3A47A url(../images/green-bg.jpg) repeat-x;}
ul.blue_list li a:hover span{float:left;border-bottom:1px solid #dcdcdc;background:url("../images/green-arrow.jpg") no-repeat scroll 7px 12px transparent;padding:8px 5px 8px 19px;width:168px;}
ul.blue_list li#active{float:left;font-size:13px;float:left;width:164px;}
ul.blue_list li#active a{float:left;color:#fff;text-decoration:none;background:#A3A47A url(../images/green-bg.jpg) repeat-x;}
ul.blue_list li#active a span{background:url("../images/green-arrow.jpg") no-repeat scroll 7px 12px transparent;}
.content_container_spe .content_lhs{width:680px;}
.middle_header01{width:466px;float:left;background:#a2a379 url(../images/middle-green-header.jpg) repeat-x;color:#fff;padding:8px 0px;}
.middle_header01 span{float:left;padding:0px 15px;}
.content_lhs p.img_desc{margin:10px 0;line-height:14px;float:left;width:466px;text-align:center;color:#010101;font-size:12px;}
.content_lhs p.img_desc span{float:left;width:100%;text-align:center;}
.signupimage{margin:15px 0 5px;padding:0;float:left;clear:both;}
.add_cart_container{float:right;}
input.add_cart_input{width:34px;margin:0px 5px;border:1px solid #dedede;float:right;}
input.add_cart_button{float:left;}
.social_media_cnt{float:left;width:466px;padding:0px 0px 8px;margin:0px;}
.social_media_cnt p{float:left;margin:0px 4px 0px 0px;}
.social_media_cnt span{margin-top: 5px;}
.cart_stock{margin:15px 0;padding:0;float:left;width:100%;}
.cart_stock .addcart_amount span.PricesalesPrice{background:#d81919;float:left;padding:3px 2px;margin:0 2px 0 0;color:#fff;display:inline-block}
.cart_stock .addcart_amount .PricesalesPrice{margin-top:0;}
.cart_stock p.stock_box{border:1px solid #dddddd;background:#fff;color:#d81919;line-height:20px;margin:0px 0px 0px 0px;padding:0px 2px;float:left;display:inline-block}
.rate_cnt{float:left;width:456px;background:#eee;padding:12px 5px}
.rate_cnt p{margin:0px;}
.rate_cnt p.rating_left{floaT:left;}
.rate_cnt p.rating_left a{color:#0550C5;text-decoration:none;}
.rate_cnt p.rating_left a{color:#0550C5;text-decoration:underline;}
.rate_cnt p.rating_right{floaT:right;}
.rate_cnt p.rating_right span{padding:0px 5px;float:left;}
.rate_cnt p.rating_right span.rating{font-size:10px;font-style:italic;color:#616161}
.rate_cnt p.rating_right span a{text-decoration:none;margin:0px 0px 0px 5px;}
.rate_cnt p.rating_right span a:hover{text-decoration:none;margin:0px 0px 0px 0px;}
.rate_cnt p.rating_right span a img{width:10px;}
h4.middle_blue_header{width:466px;float:left;background:url(../images/middle-blue-heder-bg.jpg) repeat-x;margin:10px 0px 0px;line-height:28px;}
h4.middle_blue_header span{color:#fff;padding:0px 0px 0px 10px;font-size:14px;}
.tab_outerwrap{float:left;width:464px;padding:0px 0px 0px 0px;margin:0px 0 0;border:1px solid #c1bfbf}
ul.tabs{list-style:none;margin:0;padding:0;height:25px;background:url(../images/tab-bg.jpg) repeat-x;}
ul.tabs li{float:left;position:relative;font-size:12px;line-height:25px;background:url(../images/tab-bg.jpg) repeat-x;}
ul.tabs li a{float:left;text-align:center;color:#707340;font-size:11px;line-height:25px;text-decoration:none;height:25px;padding:0px;font-weight:bold;background:url(../images/tab-border.jpg) no-repeat left 0;}
ul.tabs li a:hover{color:#707340;}
ul.tabs li.active{float:left;color:#fe6e01;background-color:#fff;background-image:none;text-align:center;}
ul.tabs li.active a:hover{color:#fe6e01;}
ul.tabs li#first a{background:none;}
ul.tabs li.last{float:left;position:relative;}
ul.tabs li.active a span{background:url(../images/tab-arrow-selected.jpg) no-repeat 5px 5px;color:#fe6e01;}
ul.tabs li.active a span.last_arrow{background:url(../images/tab-arrow-selected.jpg) no-repeat 5px 5px;}
ul.tabs li a span{background:url(../images/tab-arrow.jpg) no-repeat 5px 5px;padding:0 6px 0 14px}
ul.tabs li.last a span{background:url(../images/tab-arrow.jpg) no-repeat 5px 5px;padding:0 3px 0 15px}
.tab_container{width:454px;float:left;position:relative;}
.tab_content{float:left;padding:0px 0px 0 0px;position:relative;}
.T_wrap{float:left;width:434px;padding:10px 10px}
.T_left{float:left;width:239px;}
.T_right{floaT:left;width:190px;padding-left:5px;}
.T_wrap h6{float:left;color:#0550c5;font-size:14px;font-weight:bold;width:100%;padding:0px 0px 5px 0px;}
ul.T_list{float:left;width:100%;padding:0px 0px 10px 0px}
ul.T_list li{width:98%;font-family:Verdana;font-size:11px;float:left;color:#000000;background:url(../images/t-bullet.jpg) no-repeat 5px 10px;padding:0px 0px 0px 19px;line-height:22px}
.T_right ul.T_pdflist{float:left;width:190px;}
.T_right ul.T_pdflist li{font-family:Verdana;font-size:11px;float:left;color:#000000;background:url(../images/t-pdf.jpg) no-repeat 5px 5px;padding:0px 0px 0px 29px;line-height:22px}
.T_right ul.T_pdflist li a{color:#2a47c5;text-decoration:underline;}
.T_right ul.T_pdflist li a:hover{color:#2a47c5;text-decoration:underline;}
span.control_left{width:20%;float:left;}
span.control_right{width:69%;float:left;}
ul.T_list li ul{float:left;padding:2px 0px 0px 10px;width:89%;}
ul.T_list li ul li{background:none repeat scroll 0 0 transparent;border-right:1px solid #000000;display:inline;float:left;line-height:12px;padding:0 5px;width:auto;}
ul.T_list li ul li a{color:#000;text-decoration:none;}
ul.T_list li ul li.submenu_last{border:0px;}
.enquiry_box{margin:10px 0px 0px;padding:8px 10px 5px;float:left;width:285px;height:auto;background:url("../images/enquiry-box.jpg") no-repeat left top;}
.enquiry_box h4{width:100%;float:left;margin:0 6px;padding:0 0 7px 0;font-size:13px;color:#fff;font-weight:normal;text-align:center;}
.enquiry_box form{float:left;padding:7px 0px 0px;}
.field_outerwrap{float:left;padding:7px 0px 7px 10px;}
.field_leftwrap{float:left;width:70px;color:#5f5f5f;padding:5px 0 0;}
.field_rightwrap{float:right;width:205px;}
.field_leftwrap span.imp{color:red;}
.paypalorder{margin:25px 0;padding:0;float:left;width:100%;text-align:center;height:370px;}
.paypalorder input{margin:10px 0 0;}
.field_input{border:1px solid #6b6b6b;width:195px;padding:3px;}
.message{float:left;width:100%;height:60px;border:1px solid #6b6b6b;padding:3px;}
input.fieldbutton{float:left;background:url(../images/submit.jpg) no-repeat;width:60px;color:#fff;/*float:left;text-align:center;*/border:0px;padding:4px 0px;margin:0px 10px 0px 0px; cursor:pointer;}
.you_tube_cnt{float:left;width:305px;margin-top:12px;}
.you_tube_cnt h6{float:left;background:url(../images/green-right-bg.jpg) repeat-x;width:285px;padding:5px 10px;color:#fff;}
.youtube_outerwrap{border:1px solid #c6c6c6;float:left;width:303px;background:#fff}
.youtube_post{float:right;padding:5px 13px 10px 0px}
.youtube_post a{color:#626161;text-transform:uppercase;font-size:11px;text-decoration:none;}
.youtube_post a:hover{color:#626161;text-transform:uppercase;font-size:11px;text-decoration:underline;;}
.youtube_innerwrap{float:left;width:283px;margin:10px 10px 0px;border-bottom:1px solid #e9e9e9;padding:0px 0px 10px;}
.youtube_left{text-align:center;float:left;width:283px;width:72px;height:66px;line-height:66px;border:1px solid #e9e9e9;padding:0px 0px 0px 2px;}
.youtube_left img{text-align:center;padding:0px 0;}
.youtube_right{float:left;width:195px;padding:0px 0px 0px 10px;}
.you_tube_cnt .youtube_right h6{float:left;width:100%;padding:5px 0px 3px;color:#007bc1;background-image:none;}
.you_tube_cnt .youtube_right h6 a{color:#007BC1;text-decoration:none;}
.you_tube_cnt .youtube_right h6 a:hover{color:#007BC1;text-decoration:none;}
.youtube_right p{float:left;width:100%;color:#999999;line-height:18px;}
.youtube_right p a{color:#999999}
.youtube_right p a:hover{color:#999999}
.detail_head_left_new .detailpage_head{height:auto;}
.detailpage_head{width:100%;height:85px;float:left;font-family:arial;}
.detailpage_head h1{font-family:arial;font-size:19px;font-weight:bold;color:#dc7c33;margin:0;}
.detail_head_left{width:48%;height:83px;float:left;margin-left:5px;}
.detail_head_left_new{width:68%;float:left;margin:5px 0;}
.detail_head_right_new{width:31%;float:right;}
.detail_head_left_new .tags-div{height:auto;}
.detailpage_head .detail_head_right_new h1{color:#DC7C33;font-family:arial;font-size:19px;font-weight:bold;margin:0;}
.detail_head_left_new .report{background:url("../images/report-icon.jpg") no-repeat scroll 0 0 transparent;color:#1879D4;float:left;font-family:arial;font-size:12px;height:21px;margin:10px 10px 0 0;padding-left:20px;width:auto;}
.spec{background:url("../images/spec-icon.gif") no-repeat scroll 0 0 transparent;color:#1879D4;font-family:arial;font-size:12px;height:auto;margin-top:10px;padding-left:20px;width:82px;float:left;}
.spec a{color:#1879D4;text-decoration:none;}
.present{background:url("../images/pres-icon.jpg") no-repeat scroll 0 0 transparent;color:#1879D4;font-family:arial;font-size:12px;height:21px;margin-top:10px;padding-left:20px;width:82px;float:left;}
.present a{color:#1879D4;text-decoration:none;}
.report{background:url("../images/report-icon.jpg") no-repeat scroll 0 0 transparent;color:#1879D4;font-family:arial;font-size:12px;height:21px;margin-top:10px;padding-left:20px;width:82px;float:left;}
.report a{color:#1879D4;text-decoration:none;}
.detail_head_right{width:50%;height:83px;float:right;}
.buy-source{width:187px;height:41px;float:right;text-align:center;color:#fff;font-family:arial;font-size:15px;margin:10px 20px 0px 0px;padding-top:9px;}
#download_free_btn{background:url("../images/buy-source-bg.jpg") no-repeat scroll 0 0 transparent;width:187px;height:41px;float:right;text-align:center;color:#fff;font-family:arial;font-size:15px;border:0;cursor:pointer;font-weight:bold;}
.buy-source a{color:#fff;text-decoration:none;display:block}
.tags-div{width:100%;height:25px;float:left;color:#000;font-size:13px;margin-top:5px;}
.tags-div span{color:#1879D4}
.tags-div span a{color:#1879D4;text-decoration:underline;margin-right:5px;font-size:12px;}
.rate2_cnt{background:none repeat scroll 0 0 #EEEEEE;float:left;padding:12px 5px;width:635px;}
.rate2_cnt .rating_left{color:#000000;float:left;font-size:14px;font-weight:normal;}
.rate2_cnt .rating_left a{color:#3A8DDB;font-size:12px;margin:0 0 0 2px;text-decoration:none;}
.rate2_cnt .rating_right{float:right;}
.rate2_cnt .rating_right span{color:#000000;float:left;font-size:14px;font-weight:normal;margin:0 5px;}
.rate2_cnt .rating_right span.rating{font-size:11px;font-style:italic;}
.rate2_cnt .k2-container-small{float:left;padding:1px 0 0 0}
.detailpage_cont{margin:10px 0px;padding:0;float:left;width:645px;}
.detailpage_cont p img{border:1px solid #DDDDDD;float:left;margin:0 10px 10px 0;}
.detailpage_cont p{font-family:arial;font-size:12px;color:#000;}
.detailpage_cont p span{color:#ff0000;}
.pantect-img{float:left;widt:auto;height:auto;margin:10px 10px 10px 0;}
.marketing-signup{width:645px;height:auto;float:left;border-top:#d6d5d5 1px solid;padding-top:10px;}
.marketing-signup h2{font-family:arial;font-size:12px;font-weight:bold;color:#222222;margin:0px;}
.marketing-signup input[type="text"]{border:#b0c4de 1px solid;width:255px;height:15px;padding-left:5px;}
.social_media_cnt_k2{width:645px;height:auto;float:left;border-top:#d6d5d5 1px solid;margin:15px 0px 15px 0px;padding-top:10px;}
.signup-btn{width:63px;height:18px;background:url("../images/sign-up-btn.jpg") no-repeat;text-align:center;border:none;margin:3px 0px 0px 5px;color:#fff;font-size:11px;font-family:arial;font-weight:bold;}
.adv-box{margin:10px 0px 0px;padding:2px;float:left;width:300px;}
.block_diagram{margin:10px;padding:0px;float:left;width:434px;border-bottom:1px solid #ebebeb;}
.tabs_content{margin:10px;min-height:150px;padding:0px;float:left;width:434px;border-bottom:1px solid #ebebeb;}
.tabs_content img{margin:0;padding:0px;float:left;}
.tabs_content_title{margin:0 0 2px 0;padding:0;font-size:16px;color:#2b8acc;}
.tabs_content_title a{font-size:16px;color:#2b8acc;text-decoration:none;}
.author_name{font-size:12px;color:#9294a0;font-weight:normal;}
.content_desc{margin:5px 0 5px;padding:0;float:left;}
.desc_links{text-transform:uppercase;margin:0 5px 0 0;padding:0;color:#c4cb6b;font-size:10px;font-weight:bold;text-decoration:none;}
.content_desc p{color:#626463;font-size:10px;font-weight:bold;line-height:16px;margin:0;}
.tabs_readmore{margin:0;padding:0;color:#4d9dd2;font-size:10px;font-weight:bold;text-decoration:none;}
.tabs_readmore span{margin:0;padding:0;color:#f88737;}
.tabs_content_wrap{margin:0;padding:0;width:310px;float:left;}
.article_marketing-signup{border-top:1px solid #D6D5D5;float:left;padding:10px 0 0;width:100%;}
.chronoform{display:none;}
.article_content_lhs{float:left;margin:0;padding:0;width:985px;}
.article_detailpage_cont{float:left;margin:25px 0 10px;padding:0 0 0 0px;width:990px;}
#mainlevel{margin:10px;padding:0;}
#mainlevel li{margin:6px 0;padding:0 0 0 16px;list-style:none;float:left;clear:both;background:url("../images/tab-arrow-selected.jpg") no-repeat scroll 5px 5px transparent;}
#mainlevel li a{color:#0550C5;font-size:12px;text-decoration:none;}
#mainlevel li a:hover{text-decoration:underline;}
a.mainlevel{font-weight:bold;}
.article_detailpage_cont p img{margin:0 10px 10px 0;float:left;border:1px solid #ddd}
.breadcrumbs{color:#E88D12;}
.article_rate2_cnt{margin:0 0 15px 0;padding:12px 5px;float:left;width:965px;background:#EEEEEE}
.article_rate2_cnt .rating_left{color:#000000;float:left;font-size:14px;font-weight:normal;}
.article_rate2_cnt .rating_left a{color:#3A8DDB;font-size:12px;margin:0 0 0 2px;text-decoration:none;}
.article_rate2_cnt .rating_right{float:right;}
.article_rate2_cnt .rating_right span{color:#000000;float:left;font-size:14px;font-weight:normal;margin:0 5px;}
.article_rate2_cnt .rating_right span.extravote-count{font-size:11px;font-style:italic;}
ul.star{float:left;}
ul.star li{float:left;margin:1px 0 0 5px;padding:0px 0 0;}
ul.star li{background:url("../images/star_small.png") no-repeat scroll 0 top transparent;}
ul.star li a{float:left;height:10px;text-indent:-99999px;width:10px;}
ul.star li a:hover{float:left;text-indent:-99999px;}
.extravote-container-small{float:left;}
.article_detailpage_cont p{line-height:18px;}
.mycart a{color:#0078C3;float:left;font-size:13px;font-weight:normal;margin:4px 0px 0 0;padding:0;}
.breadcrumbs{clear:both;color:#E88D12;float:left;font-size:13px;line-height:16px;}
.rate_cnt .rating_left{color:#000000;float:left;font-size:14px;font-weight:normal;}
.rate_cnt .rating_left a{color:#3a8ddb;text-decoration:none;font-size:12px;margin:0 0 0 2px;}
.rate_cnt .rating_right{float:right;}
.rate_cnt .rating_right span{float:left;margin:0 5px;color:#000000;font-size:14px;font-weight:normal;}
.rate_cnt .rating_right span.virtuevote-count{font-size:11px;font-style:italic;}
.rate_cnt .virtuevote-container-small{float:left;padding:1px 0 0 0;}
.breadcrum_container a{text-decoration:underline;}
.spec_down_pdf{margin:4px 5px;padding:0;float:left;}
.specdownload{margin:0;padding:5px 21px 3px 0;line-height:20px;color:#E88D12;font-size:12px;font-weight:bold;text-decoration:none;}
.specdownload:hover{text-decoration:underline;color:#808080}
.spec_download{margin:0 5px 0 0;padding:0;float:left;}
.componentheading{margin:20px 0 0px 0;padding:0;font-size:18px;font-weight:bold;color:#1b7fdd;display:inline-block;}
#com-form-login{margin:10px 0 0 0px;padding:0;}
#com-form-login-username{margin:7px 0;}
#com-form-login-password{margin:7px 0;}
#com-form-login input[type="text"]{margin:4px 0;padding:3px 0;width:160px;display:inline-block;border:1px solid #82BCF3}
#com-form-login input[type="password"]{margin:4px 0;padding:3px 0;width:160px;display:inline-block;border:1px solid #82BCF3}
#com-form-login label{margin:4px 0;display:inline-block;width:110px;}
#com-form-login ul{margin:10px 0 0;padding:0;float:left;padding:10px 0 20px;}
#com-form-login ul li{margin:0 10px;float:left;}
#com-form-login ul li a{font-size:12px;color:#1b7fdd;text-decoration:none;}
.input input[type="submit"]{margin:10px 0 10px 47px;padding:0;width:61px;height:25px;float:left;background:url("../images/login_bg.png") no-repeat left top;text-align:center;font-size:12px;color:#fff;border:0;cursor:pointer;}
.contentpane{margin:15px 0 0 20px;padding:0;}
.contentpane input[type="text"]{margin:10px 2px 4px 0;padding:3px 0;width:220px;display:inline-block;border:1px solid #82BCF3}
.contentpane input[type="password"]{margin:4px 0;padding:3px 0;width:220px;display:inline-block;border:1px solid #82BCF3}
.contentpane select{width:223px;margin:10px 0 3px}
#josForm button{margin:10px 0 30px 200px;padding:0;width:61px;height:25px;float:left;background:url("../images/login_bg.png") no-repeat left top;text-align:center;font-size:12px;color:#fff;border:0;cursor:pointer;}
.right_division{float:left;margin:0px 0;padding:0;width:780px;position:relative;}
.buy_selected_div{float:left;margin:0;padding:0;width:780px;}
p.right_display{float:right;font-weight:bold;}
.display_box{border:1px solid #D0D2C4;float:left;width:778px;}
.display_headerbar{background:url("../images/middle-green-header.jpg") repeat-x scroll 0 0 #A2A379;color:#FFFFFF;float:left;width:778px;}
h2.header01{border-right:1px solid #E8E8E8;color:#FFFFFF;float:left;font-size:14px;font-weight:normal;padding:3px 5px;width:40px;}
h2.header02{border-right:1px solid #E8E8E8;color:#FFFFFF;float:left;font-size:14px;font-weight:normal;padding:3px 5px;text-align:center;width:106px;}
h2.header08{border-right:1px solid #E8E8E8;color:#FFFFFF;float:left;font-size:14px;font-weight:normal;padding:3px 5px;text-align:center;width:180px;}
h2.header03{border-right:1px solid #E8E8E8;color:#FFFFFF;float:left;font-size:14px;font-weight:normal;padding:3px 5px;text-align:center;width:186px;}
h2.header04{border-right:1px solid #E8E8E8;color:#FFFFFF;height:17px;float:left;font-size:14px;font-weight:normal;padding:3px 5px;text-align:center;width:50px;}
h2.header05{border-right:1px solid #E8E8E8;color:#FFFFFF;float:left;font-size:14px;font-weight:normal;padding:3px 5px;text-align:center;width:90px;}
h2.header06{border-right:1px solid #E8E8E8;color:#FFFFFF;float:left;font-size:14px;font-weight:normal;padding:3px 5px;text-align:center;width:100px;}
h2.header07{color:#FFFFFF;float:left;font-size:14px;font-weight:normal;padding:3px 5px;text-align:center;width:120px;}
.box_odd_container{background:none repeat scroll 0 0 #F3F3F3;border-bottom:1px solid #E8E8E8;float:left;width:778px;}
.sep_1{background:url("../images/d_border.jpg") repeat-y scroll 49px 0 transparent;float:left;}
.sep_2{background:url("../images/d_border.jpg") repeat-y scroll 167px 0 transparent;float:left;}
.sep_3{background:url("../images/d_border.jpg") repeat-y scroll 364px 0 transparent;float:left;}
.sep_4{background:url("../images/d_border.jpg") repeat-y scroll 425px 0 transparent;float:left;}
.sep_5{background:url("../images/d_border.jpg") repeat-y scroll 466px 0 transparent;float:left;}
.sep_6{background:url("../images/d_border.jpg") repeat-y scroll 577px 0 transparent;float:left;}
.sep_7{background:url("../images/d_border.jpg") repeat-y scroll 828px 0 transparent;float:left;}
.cat_cnt{float:left;padding:6px 10px;width:180px;}
.select_cnt{float:left;padding:3px 5px;text-align:center;width:39px;}
.model_cnt{float:left;padding:6px 5px;text-align:center;width:108px;}
.model_cnt p{color:#000000;font-size:12px;margin:5px 0;}
.descrp_cnt{float:left;padding:6px 8px;width:180px;}
span.display_org{color:#E88D12;float:left;padding:0px 0px 5px 0px;width:100%;}
.data_cnt{float:left;padding:6px 5px;width:54px;}
.availability_cnt{float:left;padding:6px 5px;width:89px;}
span.ava_span{float:left;padding-bottom:3px;width:100%;}
.pricing_cnt{float:left;padding:6px 5px;width:98px;}
.pricing_cnt p{float:left;padding-right:5px;text-align:right;width:98%;font-weight:bold;text-align:center;}
.quantity_cnt{float:left;padding:6px 5px;width:118px;}
.info_buy_btn{margin:10px 0 10px 10px;padding:0;}
#buy_btn{background:url("../images/buy_btn_bg.png") no-repeat scroll left top transparent;color:#FFFFFF;font-size:12px;font-weight:bold;margin:0;height:25px;text-align:center;text-decoration:none;float:left;text-indent:-9999px;width:55px;border:0;}
.model_cnt{position:relative;float:left;text-align:center;}
.model_cnt a{float:left;text-align:center;}
.model_cnt span.plus_btn{position:absolute;z-index:99;bottom:3px;right:7px;}
.product_landing_container .social_media_cnt{float:left !important;width:673px;margin-top:20px;}
input.qty_input{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #B6B6B6;height:10px;padding:4px 5px;width:34px;}
.info_btn{background:url("../images/info_btn_bg.png") no-repeat scroll left top transparent;color:#FFFFFF;font-size:12px;font-weight:bold;margin:0;padding:4px 14px;text-align:center;text-decoration:none;float:left;}
input.add_cart_button{background:url("../images/selectbox-button.jpg") no-repeat scroll 0 0 transparent;border:0 none;float:left;height:31px;margin:0 0 5px;cursor:pointer;width:141px;}
#sloading{left:39%;position:fixed;top:34%;z-index:99999;font-size:14px;color:#000;line-height:32px;font-weight:bold;width:350px;text-align:left;}
#sloading p{width:100%;text-align:center;}
#sloading img{float:left;margin:0 10px 0 0;}
.box_even_container{background:none repeat scroll 0 0 #FFFFFF;border-bottom:1px solid #E8E8E8;float:left;width:778px;}
.quantity_cnt p{float:left;padding:0 0 3px;text-align:center;width:100%;}
p.qust_cnt{color:#E88D12;float:left;width:100%;}
p.qust_cnt span{float:left;margin:1px 0 0;padding:0 0 0 7px;}
.quantity_cnt p label{float:left;width:70px;font-size:12px;color:#000;}
#system-message message{border:0;}
.customer-comment{display:none;}
fieldset table.cart-summary tr th, .cart-summary th, .cart-summary th span, tr.sectiontableheader th{background:#888 !important;color:#fff !important;}
.cart-summary th{padding:5px 3px !important;margin:0 0 3px;background:#A2A379 !important;color:#fff;font-weight:bold;}
.cart-summary th span{color:#fff;}
.checkout-button-top{margin:10px 0 15px 0;}
tr.sectiontableentry1{margin:2px 0 0;}
.product_landing_container{float:left;margin:0;padding:0 0 0 0;width:770px;}
.product_landing_img_wrap{margin:0;padding:0 5px;float:left;width:285px;text-align:center}
.product_landing_img_wrap img{margin:0;padding:0;border:0;}
.add_cart_container2{float:right;width:170px;}
.add_cart_container2 input.add_cart_button{background:none;border:0 none;float:left;height:21px;margin:0 0 5px;width:69px;}
#system-message .message{border:0;}
.vm2-add_quantity_cart{margin:0 3px;padding:0;float:left;background:url("../images/items_update.jpg") no-repeat left top;width:20px;height:21px;}
.vm2-remove_from_cart{margin:0 3px;padding:0;float:left;background:url("../images/items_delete.jpg") no-repeat left top;width:15px;height:20px;}
.checkout-button-top .button-blue{background:url("../images/blue-button.jpg") no-repeat scroll right top transparent !important;height:35px;font-size:14px !important;font-weight:bold;border:0px solid !important;}
.checkout-button-top .vm-button-correct{background:none repeat scroll 0 0 #1776D0;border:1px solid #1776D0;border-radius:4px 4px 4px 4px;color:#FFFFFF;cursor:pointer;display:inline-block;font-size:12px;letter-spacing:1px;padding:6px 12px;text-align:center;text-decoration:none;}
.checkout-button-top .button-orange{background:url("../images/confirm-button.png") no-repeat scroll right top transparent !important;font-size:14px !important;font-weight:bold;border:0px solid !important;width:166px !important;height:35px;}
.control-buttons button{background:url("../images/login_bg.png") no-repeat scroll left top transparent;border:0 none;color:#FFFFFF;cursor:pointer;float:left;font-size:12px;height:25px;margin:30px 0 30px 85px;padding:0;text-align:center;width:61px;}
.billtoshiptotitle{color:#E88D12;font-size:15px;font-weight:bold;margin:10px 0 0 20px;padding:0;}
.product_landing_container{float:left;margin:0;padding:0 0 0 0;width:770px;}
.product_landing_img_wrap{margin:0;padding:0 5px;float:left;width:285px;text-align:center;position:relative;height:255px;overflow:hidden;}
.product_landing_img_wrap img{margin:0;padding:0;border:0;position:absolute;bottom:0;left:5%;}
.product_price_wrap{background:none repeat scroll 0 0 #F5EBC7;border:1px solid #DCC577;float:left;margin:0 0 8px 5px;padding:10px 5px 5px;position:relative;width:455px;}
.procuct_name_bar{background:none repeat scroll 0 0 #F5EBC7;border-left:1px solid #DCC577;border-right:1px solid #DCC577;border-top:1px solid #DCC577;color:#323326;float:left;font-size:12px;left:5px;margin:0;padding:2px 10px;position:absolute;top:-10px;}
.product_price_text{color:#BB5409;float:left;font-size:16px;margin:7px 0;padding:0;}
.quantity_buy{float:right;margin:7px 5px 0;padding:0;}
.quantity_buy label{color:#4D4129;float:left;font-size:14px;margin:2px 5px 0 0;padding:0;font-weight: bold;}
.quantity_buy input[type="text"]{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;color:#000000;float:left;font-size:14px;height:16px;margin:0 3px 0 0;padding:2px;width:35px;}
.product_buy_btn{background:url("/images/product_buy_btn.jpg") no-repeat scroll left top transparent;border:0 none;float:left;margin:2px 0 0 2px;padding:0;width:39px;}
.product_model_desc{background:none repeat scroll 0 0 #FFFFFF;float:left;margin:0;padding:5px 10px;width:435px;}
.product_model_desc_rows{float:left;margin:5px 0;padding:0;width:100%;}
.product_model_desc_rows label{color:#605F5E;}
.model_label{color:#605F5E;float:left;margin:0 5px;padding:0;text-align:right;width:60px;}
.product_desc_box_table_outer{border:1px solid #CCCCCC;color:#605F5E;float:left;width:320px;}
.product_desc_box_table_outer p{border-bottom:1px solid #CCCCCC;color:#605F5E;float:left;width:100%;}
.product_desc_box_table_outer span{color:#605F5E;float:left;padding:5px;width:42%;}
.product_desc_box_table_outer span.disc{width:32%}
.product_desc_box_table_outer span.qnty{width:15%}
.product_desc_box_table_outer span.sep{border-left:1px solid #CCCCCC;margin:0;padding:5px 0;width:1px;}
.availability{background:url("../images/availability.jpg") no-repeat scroll left center transparent;color:#605F5E;float:left;font-size:12px;margin:0;padding:0 0 0 11px;}
.outofstock{background:url("../images/outofstock.jpg") no-repeat scroll left center transparent;color:#43474a;float:left;font-size:12px;margin:0;padding:0 0 0 11px;}
.warranty{background:url("../images/warranty.png") no-repeat scroll left center transparent;color:#605F5E;float:left;font-size:12px;margin:0;padding:0 0 0 20px;}
.no-warranty{background:url("../images/Close-icon.jpg") no-repeat scroll left center transparent;color:#605F5E;float:left;font-size:12px;margin:0;padding:0 0 0 20px;}
.rate_product{float:left;width:760px;background:#eee;padding:12px 5px}
.rate_product p{margin:0px;}
.rate_product p.rating_left{floaT:left;}
.rate_product p.rating_left a{color:#0550C5;text-decoration:none;}
.rate_product p.rating_left a{color:#0550C5;text-decoration:underline;}
.rate_product p.rating_right{floaT:right;}
.rate_product p.rating_right span{padding:0px 5px;float:left;}
.rate_product p.rating_right span.rating{font-size:10px;font-style:italic;color:#616161}
.rate_product p.rating_right span a{text-decoration:none;margin:0px 0px 0px 5px;}
.rate_product p.rating_right span a:hover{text-decoration:none;margin:0px 0px 0px 0px;}
.rate_product p.rating_right span a img{width:10px;}
#plusone{width:100px;float:left;}
#system-message{margin:10px 0;padding:10px;floaT:left;width:970px;}
.info{background:none repeat scroll 0 0 #FFFDC6 !important;color:#333333 !important;height:auto;padding:5px 10px 3px;width:950px;}
dt.info{font-size:12px;font-weight:bold;}
dt.error{font-size:12px;font-weight:bold;margin:10px 0 0 0;float:left;width:950px}
.error{background:none repeat scroll 0 0 #f8f8f8 !important;color:#ff0000 !important;height:auto;padding:5px 10px 3px;width:950px;}
dt.message{font-size:12px;font-weight:bold;}
.message{background:none repeat scroll 0 0 #f8f8f8;color:#35a404;height:auto;padding:5px 10px 3px;width:950px;}
#acknowledge table td input[type="text"]{width:190px;margin:4px 5px;border:1px solid #ccc;padding:3px;}
#acknowledge table td input[type="password"]{width:190px;margin:4px 5px;border:1px solid #ccc;padding:3px;}
#acknowledge table td input#City{width:130px;margin:4px 5px;}
#acknowledge table td input#Pin_Code{width:130px;margin:4px 5px;}
#acknowledge table td textarea{width:190px;margin:4px 5px;border:1px solid #ccc;padding:3px;}
#acknowledge table td textarea#List_Of_Principals{width:404px;margin:4px 5px 4px 0;border:1px solid #ccc;padding:3px;height:80px;}
#acknowledge table td textarea#List_Of_Cities{width:404px;margin:4px 5px 4px 0;border:1px solid #ccc;padding:3px;height:80px;}
#acknowledge table td textarea#Geographical_Area{width:404px;margin:4px 5px 4px 0;border:1px solid #ccc;padding:3px;height:80px;}
#acknowledge h1{color:#1C83E5;float:left;font-size:19px;font-weight:bold;}
.activitationmessage{margin:15px 0 300px;padding:0;font-size:12px;color:#333;font-weight:bold;line-height:18px;}
.activitation_componentheading{width:99%;border-bottom:1px solid #333;color:#1B7FDD;display:inline-block;font-size:18px;font-weight:bold;margin:20px 0 0;padding:0;}
.getloginform{margin:0 20px 0 0;padding:0;float:left;width:320px;}
.getadminloginform{border:0px !important;}
.getadminloginform{margin:0 20px 0 0px;padding:0 0px 0 0;border-right:1px solid #F47814;float:left;width:460px;}
.PricesalesPrice{margin:2px 5px 0 0;padding:0;float:left;}
.enquerymsg{border:1px solid #6B6B6B;padding:3px;width:195px;height:70px}
.qtyinput{margin:2px 2px 0 45px;padding:0;float:left;}
p.specification_download{margin:2px 0;padding:0;float:left;clear:both;}
.emptycart{margin:10px 0;padding:0;float:left;width:100%;text-align:center;font-size:14px;font-weight:bold;color:#ff0000}
.conushop{margin:5px 0 10px;display:inline-block;padding:5px;clear:both;background:url("../images/middle-blue-heder-bg.jpg") repeat-x scroll 0 0 transparent;color:#fff;text-decoration:none;}
.conushop:hover{text-decoration:underline;color:#fff;}
.accountpagetitle{color:#0078C3;font-size:14px;font-weight:bold;margin:5px 0;}
.addshiptolayout{padding:0;float:left;width:370px;margin:0px 0 0 25px;}
.termstext{margin:10px 0;padding:0;float:left;width:100%;text-align:center;}
.termstext p{color:#000;font-size:12px;}
.termstext p a{text-decoration:none;color:#0074C3}
#shiptab .getadminloginform{margin:0;padding:0;float:left;width:370px;border:none;}
.pricetags{float:left;margin:0 2px 0;}
.product_price_text .PricesalesPrice{margin:0px 5px 0 0;}
.rate_product .rating_left{float:left;color:#000000;font-size:14px;font-weight:normal;}
.rate_product .rating_left a{color:#3A8DDB;font-size:12px;margin:0 0 0 2px;text-decoration:none;}
.rate_product .rating_right{float:right;}
.rate_product .rating_right .virtuevote-container-small{float:left;}
.rate_product .rating_right span{color:#000000;float:left;font-size:14px;font-weight:normal;margin:0 5px;}
.rate_product .rating_right span.virtuevote-count{font-size:11px;font-style:italic;}
.product_landing_container .detail{margin:5px 0;padding:0;float:left;text-align:justify;width:100%}
.product_landing_container .detail .T_wrap h6{color:#282d29}
.detailtitle{text-transform:capitalize;font-size:15px;font-weight:bold;width:100%;color:#d44f04;margin:10px 0 5px 0;padding:0 0 5px;border-bottom:2px solid #d24f00;}
.shiptime{margin:3px 0;padding:0;float:left;clear:both;font-weight:bold;}
.enquiry_thankyou_wrap{margin:0;float:left;padding:0;position:relative;}
.enquiry_thankyou_wrap img{margin:0;padding:0;border:0;}
.order_thank_wrap{margin:0 auto;padding:0;width:467px;height:237px;}
.order_thank_inner{background:url("../images/order_thank_bg.jpg") no-repeat scroll left top transparent;float:left;height:137px;margin:100px 0;padding:80px 130px 20px 20px;width:317px;}
.pricinglist{text-align:center;font-size:12px;font-weight:bold;color:#ff0000;margin:5px 0 5px 0;}
.order_thank_productname{font-size:20px;font-weight:normal;color:#4e4e4e;text-align:center;margin:5px 0;}
.signupimage input[type="button"]{background:url("../images/sign-up.jpg") no-repeat scroll left top transparent;border:0 none;float:left;height:35px;margin:5px 0;padding:0;text-indent:-99999px;width:145px;cursor:pointer;}
.order_thank_productname span{color:#f17d28;}
.orderpage_topnav{margin:0;padding:0 10px;float:left;width:970px;background:url("../images/gradient-bar.jpg") repeat-x;border:1px solid #ccc !important;padding:0 18px 0 0 !important;}
.orderpage_topnav ul{margin:0;padding:0;float:left;width:100%}
.orderpage_topnav ul li{color:#000000;float:left;font-size:15px;font-weight:bold;margin:0 10px;padding:10px 25px;background-image:url("../images/arrow.png") !important;background-position:right bottom;background-repeat:no-repeat;color:#888888 !important;margin:0 !important;}
.orderpage_topnav ul li a{margin:0;padding:10px 15px;font-size:16px;font-weight:bold;color:#000;}
.orderpage_topnav ul li.selected{background:#f47814;color:#fff;background:url("../images/arrow-2.png") no-repeat scroll right top #FFFFFF !important;color:#000000 !important;}
.orderpage_topnav ul li.selected a{background:#f47814;color:#fff;}
.orderpage_content_wrap{padding:35px 50px;width:888px;border:1px solid #CCC;float:left;margin:0 0 10px 0}
#editcell{margin:15px 0 25px 0;padding:0;float:left;width:100%;}
#editcell table.adminlist thead th{text-align:left;padding:5px 0 5px 8px;}
#editcell table.adminlist tbody tr td{padding:5px 0 5px 8px;}
.tutorialimg{margin:0;border:1px solid #E9E9E9;float:left;margin:0 10px 10px 5px;padding:2px;width:102px;height:69px;}
.tabs_content{position:relative;}
.tabs_content_wrap img{position:absolute;top:3px;left:8px;width:102px;}
.sourceimg{margin:0;border:1px solid #E9E9E9;float:left;margin:0 10px 10px 5px;padding:2px;width:102px;height:132px;}
.articleimg{margin:0;border:1px solid #E9E9E9;float:left;margin:0 10px 10px 5px;padding:2px;width:102px;height:132px;}
.tabs_content_wrap .content_desc img{max-height:132px;}
#com-form-login-username{font-size:14px;color:#807e7f;font-weight:bold;}
#com-form-login-username input[type="text"]{border:1px solid #c0c4c9;}
#com-form-login-password{font-size:14px;color:#807e7f;font-weight:bold;}
#com-form-login-password input[type="password"]{border:1px solid #c0c4c9;}
#com-form-login-remember{margin:30px 0 10px 0;padding:0;font-size:13px;color:#807e7f;font-weight:bold;}
#com-form-login-remember input{float:left;margin:0 5px 0 0;}
#com-form-login-remember label{margin-top:0;}
.regheader{margin:10px 0 20px 0;padding:0;font-size:14px;color:#338dcd;}
.regheader a{color:#ff2400}
#com-form-login ul li a{color:#738dd2;font-size:13px;font-weight:bold;}
#adminForm p em{color:#fff !important;font-size:13px;}
#adminForm p{margin:70px 0 10px !important;background:#000 !important;Color:#fff !important;font-weight:bold !important;padding-bottom:5px;}
.termtext{float:left;margin:20px 0 20px !important;padding:0;text-align:left !important;width:100%;color:#000;font-weight:bold !important;}
.termtext p a{color:#f70707;text-decoration:none;}
.buttondiv{margin:0 0 0 300px;padding:0;float:right;width:400px;}
.buttondiv .button-blue{background:url("../images/blue-button.jpg") no-repeat scroll right top transparent !important;border:0 none;color:#FFFFFF;float:left;font-size:14px !important;margin:0 20px;padding:5px 0;font-weight:bold;width:70px !important;height:34px;}
.buttondiv .button-orange{background:url("../images/orange-button.jpg") no-repeat scroll right top transparent !important;border:0 none;color:#FFFFFF;float:left;font-size:14px !important;margin:0 20px;padding-left:15px;font-weight:bold;text-align:left;width:133px !important;height:34px;}
.buttondiv button{margin:0 20px;padding:5px 0;text-align:center;width:56px;float:left;border:0;background:url("../images/search_btn.png") no-repeat scroll left top transparent;font-size:12px;color:#fff;}
#shiptab .getadminloginform p.check{display:none;}
.billto-shipto .width50 span{color:#1981e0;font-size:14px;text-transform:uppercase;font-weight:bold;}
.billto-shipto .width50 .output-billto span{color:#000;text-transform:none;font-weight:normal;}
.billto-shipto .width50 .output-shipto span{color:#000;text-transform:none;font-weight:normal;}
.customernumber{color:#1981e0;font-size:14px;text-transform:uppercase;font-weight:bold;}
.customernumber span{color:#000;text-transform:none;font-weight:normal;}
.billto-shipto .width50 .details{margin:5px 0;padding:7px 5px;flaot:left;background:#177ad5;font-size:12px;color:#fff;text-decoration:none;font-weight:bold;margin-top:25px !important;}
.PricesalesPrice span.PricesalesPrice{float:left;text-align:left;font-size:12px;margin:0 0 0 24px;color:#43474a;width:70px;}
.download{font-size:13px;color:#1B7FDD;margin:0 0 10px 0;}
.pricing_cnt .PricesalesPrice{width:100%;}
#agreed_field{display:none;}
.agreed{display:none}
.content_lhs p.nostockavailable{color:#D81919;width:275px;text-align:center;float:left;}
#bgfade{background:none repeat scroll 0 0 #000000;display:none;height:100%;left:0;opacity:0.2;position:fixed;top:0;width:100%;z-index:9999;}
.validate{float:inherit;background:url("../images/login_bg.png") no-repeat scroll left top transparent;border:0 none;color:#FFFFFF;cursor:pointer;font-size:12px;height:25px;margin:10px 0 10px 47px;padding:0;text-align:center;width:61px;}
.hasTip{display:inline-block;margin:4px 0;width:110px;}
#text{color:#807E7F;font-size:11px;font-weight:bold;}
.fadebox{border:3px solid transparent;border-radius:5px 5px 5px 5px;box-shadow:0 0 18px rgba(0 0 0 0.4);position:relative;}
.fadebox_inner{background:none repeat scroll 0 0 #FFFFFF;border-radius:4px 4px 4px 4px;display:table;padding:20px;width:304px;}
.fadebox_inner p{color:#0078C3;font-size:14px;font-weight:bold;margin:10px 0;}
#bgfadeclose{background:url("../images/closelabel.png") no-repeat scroll 0 0 #FFFFFF;height:8px;opacity:0.3;padding:2px;position:absolute;right:5px;top:5px;width:8px;}
#bgfadeclose:hover{opacity:1;}
.product_name{color:#E88D12}
.sectiontableheader th{background:none repeat scroll 0 0 #A2A379 !important;color:#FFFFFF;font-weight:bold;margin:0 0 3px;padding:5px 3px !important;}
.orderinformation{color:#0078C3;font-weight:bold;font-size:18px;}
.spaceStyle .orders-key{color:#000;font-size:14px;font-weight:bold;text-transform:uppercase;padding:7px 0;}
.spaceStyle td{padding:5px 10px 5px 0;}
.spaceStyle td strong{color:#000;font-size:14px;font-weight:bold;text-transform:uppercase;padding:10px 0;display:inline-block;}
.generallist{width:150px;}
#ui-tabs{margin:0;padding:0;float:left;width:100%;}
#ui-tabs #tabs{padding:20px 0 0 !important;}
#ui-tabs .dyn-tabs{padding:0 !important;}
body.contentpane{text-align:center;}
body.contentpane .thank_you{text-align:center;width:100%;color:#0078C3;font-size:14px;font-weight:bold;margin:10px 0;}
#mainlevel_home{margin:10px;padding:0;width:100%;}
#mainlevel_home li{background:url("../images/tab-arrow-selected.jpg") no-repeat scroll 5px 5px transparent;width:145px;float:left;list-style:none outside none;margin:6px 17px;padding:0 0 0 16px;}
#mainlevel_home li a{color:#0550C5;font-size:12px;text-decoration:none;}
.article_detailpage_cont ul#mainlevel{margin:10px 25px;width:145px;}
.article_detailpage_cont .sitemap_wrap{margin:10px 25px;width:145px;float:left;}
.article_detailpage_cont .sitemap_wrap ul#mainlevel{margin:0px;width:145px;}
.article_detailpage_cont .sitemap_wrap h3{font-size:13px;font-weight:bold;color:#E88D12;margin:0 0 5px;border-bottom:1px solid #E88D12;}
.sitemap_wrap_general{float:left;clear:both;margin:10px 0 0 0;width:100%;}
.sitemap_wrap_general h3{font-size:13px;font-weight:bold;color:#E88D12;margin:0 0 5px;border-bottom:1px solid #E88D12;}
.sitemap_wrap_general #mainlevel_home{margin:10px 0;}
.sitemap_wrap_general #mainlevel_home .mainlevel{width:auto;}
.sitemap_wrap_general #mainlevel_home .mainlevel
#mainlevel{float:left;}
.mainlevel_home{float:left;clear:both;}
#mainlevel li.mainlevel{float:left;}
.errmessage{float:left;width:100%;font-size:15px;color:#0078C3;font-weight:bold;margin:7px 0;}
.vm_bottom_pagination{margin:5px auto;width:280px; font-size:13px; font-weight:bold}
.T_wrap ul.T_list li span.control_left{width:40%;}
.T_wrap ul.T_list li span.control_right{width:60%;}
.WYSWYG_table{margin:20px 20px 20px 20px;color:black;}
.WYSWYG_table table tr,.WYSWYG_table table tr td,.WYSWYG_table table tr th{padding:5px;border:1px solid #000;}
.WYSWYG_table h6{color:#0550C5;font-size:14px;font-weight:bold;padding:0 0 5px;width:100%;}
.WYSWYG_table p ,.WYSWYG_table p span{color:#000;}
.buttonBar-right button.vm-button-correct{background:url("../images/continue_button.jpg") no-repeat left top;width:78px;line-height:12px;padding:5px 22px 10px 0px;font-size:12px;color:white;border:0;}
.rss_feed{margin:0;padding:0;float:right;}
.rss_feed a{margin:0 10px 0 0;padding:0;float:left;background:url("../images/rss_feed_btn.png") no-repeat left top;width:85px;height:28px;border:0;text-indent:-99999px;}
sup{position:relative;bottom:0.5em;font-size:0.8em;}
sub{position:relative;top:0.3em;font-size:0.8em;}
.itemprice{width:60px;float:left;font-size:12px;margin:3px 0 0 5px;text-align:left;}
.itemcouncil{width:25px;float:left;text-align:right;font-size:12px;color:#E88D12;margin-top:3px;}
.box_odd_container p{color:#43474a}
.box_even_container p{color:#43474a}
.fb_iframe_widget{margin:10px 0 0 0;}
.tabs_content .tutorialimg{border:1px solid #E9E9E9;float:left;height:132px;margin:0 10px 10px 5px;padding:2px;width:102px;}
dl.image_map{display:block;width:750px;height:124px;background:url(http://pantech.dci.in/images/stories/Email-Signature.jpg);position:relative;}
a.LINK0{left:542px;top:93px;background:transparent;}
a.LINK0{display:block;width:201px;height:0;padding-top:18px;overflow:hidden;position:absolute;}
a.LINK1{left:10px;top:0px;background:transparent;}
a.LINK1{display:block;width:241px;height:0;padding-top:56px;overflow:hidden;position:absolute;}
a.LINK2{left:37px;top:75px;background:transparent;}
a.LINK2{display:block;width:36px;height:0;padding-top:37px;overflow:hidden;position:absolute;}
a.LINK3{left:77px;top:76px;background:transparent;}
a.LINK3{display:block;width:35px;height:0;padding-top:36px;overflow:hidden;position:absolute;}
a.LINK4{left:114px;top:76px;background:transparent;}
a.LINK4{display:block;width:35px;height:0;padding-top:36px;overflow:hidden;position:absolute;}
a.LINK5{left:155px;top:75px;background:transparent;}
a.LINK5{display:block;width:35px;height:0;padding-top:36px;overflow:hidden;position:absolute;}
a.LINK6{left:190px;top:75px;background:transparent;}
a.LINK6{display:block;width:35px;height:0;padding-top:36px;overflow:hidden;position:absolute;}
a.LINK7{left:313px;top:95px;background:transparent;}
a.LINK7{display:block;width:202px;height:0;padding-top:17px;overflow:hidden;position:absolute;}
.footer-certificate{float:left;margin:0;padding:10px 0px 0px;width:990px;position:relative;}
.create-licence, .create-licence a{font-family:arial;font-size:11px;color:#153A6B;width:260px;float:left;}
.create-licence a{font-weight:bold;text-decoration:none;}
 .godaddy-siteseal{width:460px;float:left;position:absolute;bottom:11px;left:500px;}
.godaddy-scanseal{width:460px;float:left;position:absolute;bottom:11px;left:365px;}
.credit-card{float:right;position:absolute;bottom:0;right:0;} 
.cart-load{display:none;position:fixed;z-index:1000;top:0;left:0;opacity:0.6;height:100%;width:100%;background:#fff url('../images/ajax-loader(1).gif') 50% 50% no-repeat;filter:alpha(opacity=60);}
body#loading{overflow:hidden;}
body#loading .cart-load{display:block;}
.spaceStyle table td{vertical-align:top;}
.ninjaboard .section .text ul, ol{padding-left:15px;}
.ninjaboard .section .text ul{list-style:disc;}
.ninjaboard .section .text ol{list-style:decimal;}
blockquote{font:italic 16px/22px Georgia,Serif;}
.payment_select h1{font-weight:bold;background:url("../images/payment_select_bg.jpg") no-repeat scroll 0 0 transparent;font-size:18px;margin:10px 0 35px 10px;padding:10px 8px;width:300px;float:left;}
.payment_select{border:1px solid grey;clear:both;}
button.button-orange{background:url("../images/confirm-button.png") no-repeat scroll right top transparent !important;height:39px !important;width:156px !important;}
.payment_select button.button-orange{width:110px !important;}
button.button-blue{background:url("../images/blue-button.jpg") no-repeat scroll right top transparent !important;height:36px !important;width:75px !important;}
.payment_select button.button-blue{background:url("../images/blue-button.jpg") no-repeat scroll right top transparent !important;height:36px !important;width:75px !important;padding:5px 0px 10px 0px !important;}
.buttonBar-right{clear:both;padding:54px 91px 20px 0;text-align:right;width:auto !important;}
.continue_link{//background:url("../images/green_btn_bg.jpg") no-repeat scroll right top transparent !important;color:#FFFFFF;font-size:17px;padding:5px 7px 12px 67px;text-align:center;text-decoration:none;float:right;}
.select_payment{float:left;padding-left:6px !important;}
tr.sectiontableentry_row td{vertical-align:middle;}
#ordered_items a{color:#000;text-decoration:none;}
@media print{#ordered_items{page-break-before:always;}
img{display:none;}
body{font:12pt Georgia, "Times New Roman", Times, serif;}
a{color:#000;text-decoration:none;}
}
.cart-view a.green-button, .continue_link,.cart-summary a.green-button{background-image:url("../images/green-button.png") !important;background-position:right top !important;background-repeat:no-repeat !important;color:#FFFFFF !important;display:block;font-size:16px;font-weight:bold;height:34px !important;padding-top:5px;text-align:center;text-decoration:none;width:177px !important;padding:7px 0px 0px 10px;}
.cart-view .payment-error{color:#E30200;font-size:16px;font-weight:bold;padding-left:5px;}

#txtCaptchaDiv{ background:url("../images/captcha-bg.jpg") repeat-x scroll 0 0 #9B9B71;  color: #FF0000;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
    margin: 14px;
    padding: 5px;
}
#txtInput{border: 1px solid #6B6B6B;margin-left: 15px;margin-top: 10px;width: 220px;}
.enquiry_box #txtCaptchaDiv{ background:url("../images/captcha-bg.jpg") repeat-x scroll 0 0 #9B9B71;  color: #FF0000;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
    margin: 5px;
    padding: 5px;
}
.enquiry_box #txtInput{border: 1px solid #6B6B6B; margin-left:0;margin-top: 10px;width: 200px; height:20px;}
/*************** Acclary ********************************/
#facebox iframe{ width:430px !important; height:455px !important}
#articles-title a {
color: #0078C3;
font-size: 1.8em;
font-weight: normal;
line-height: 25px;
text-decoration: none;
}
.stockGreen{
    color: #008000;
    font-size: 18px;
    font-weight: bold;
    margin: 7px 0px 0;
}
.stockRed{
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
    margin: 7px 0px 0;
}
.shiplabel{
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin: 7px 0px 0;
}

/*********************** product detail page ***/
.content_container_spe { float: left;  margin: 0; padding: 13px 5px 10px 0; width: 985px;}
.content_container_padd{float:left; margin:0px; padding:20px 20px 20px 20px;}
.content_container_padd1{float:left; margin:0px; padding:0px;}
.content_container_prod{float:left; width:290px;padding:5px;margin-bottom: 25px;border:2px solid #e6e6e6;}
.content_container_prod:hover{float:left; width:288px; /*height:390px;*/ border:1px solid #a5a4a4; -webkit-box-shadow:4px 4px 2px 0px rgba(223, 223, 223, 0.75);
-moz-box-shadow:4px 4px 2px 0px rgba(223, 223, 223, 0.75); box-shadow:4px 4px 2px 0px rgba(223, 223, 223, 0.75);}
.content_container_prod h2{font-size:20px; color:#404040; text-align:center; border-bottom:1px solid #ccc; line-height:26px; margin:0px; padding:0px; cursor:pointer; padding:0 0 10px 0}
.content_container_prod h2:hover{text-decoration:underline; margin:0px; padding:0 0 10px 0;}
.content_container_prod h2 a{color:#404040; text-decoration:none; font-family:lato; font-size:20px;}


.pro-mar{margin-right:15px;}
.pro-img{height:268px;position:relative; text-align:center;}
/*.pro-img img{position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50% !important); transform: translateY(-50%); width:100%; height:100%}*/
.pro-img img{position: relative; -webkit-transform: translatey(-5px); -moz-transform: translatey(-5px); -o-transform: translatey(-5px); transform: translatey(-5px);width:85%;}
.rupee-width{width:300px; float:left; font-size:15px;padding: 10px 0 0;}
.rupee{float:left; width:140px;font-size: 18px;font-family: lato;}
.stock{float: left;
    font-family: lato;
    font-size: 14px;
    margin-left: 45px; margin-top:3px;}
.stock input{width:60px; height:22px; border:1px solid #666; float:none}
.buy-now{/*width:300px;*/ float:right;}
.buy-now a{float:right; text-align:right; padding:0 10px 0 0;}
.buy-now a:hover{float:right; text-align:right; padding:0 10px 0 0; border:none; text-decoration:none;}
.firstof{width:678px; float:left;}
.firstof h2 { color:#dc7c33; float: left; font-size: 19px; font-weight: bold; width: 94%; border-bottom:1px solid #d6d5d5; padding:2px 0px 8px 0px;}
.secondof{width:304px; float:right; margin-top:32px;}
.detail-left{width:200px; float:left; padding-right:18px;}
.detail-left a{width:200px; font-size:12px; color:#333333; line-height:20px; text-align:left; text-decoration:none; display:block; border-bottom:1px solid #d6d5d5; padding:8px 0px 6px 0px;}
.detail-left .active{color:#FF0000;}
.detail-right{width:425px; float:left; padding-right:30px; }

.content-detail h3 {color: #0156ff;
font-size: 18px;
line-height: 21px;
margin: 0;
text-align: justify;
padding-bottom: 10px;
margin-top: 15px;}
#verticalTab ul li a{ text-decoration:none}
.content-detail p { color: #515151; font-size: 15px; line-height: 21px; margin: 0; text-align: justify;}
.content-detail li { color: #515151; font-size: 15px; line-height: 21px; margin: 0; text-align: justify;}

.pro-details{width:288px; border:1px solid #ccc; padding:10px 5px 25px 5px; margin:0px 0px 0px 0px; height:325px;}
.pro-details h2{font-size:18px; color:#404040; text-align:center; line-height:26px; display:block; margin:0px; padding:12px 0px 8px 0px;font-family: lato;}
.rupeew{width:300px; float:left; font-size:15px; height:45px;}
.rupeew .rupee1{float: left;width: 140px;margin: 0px 0px 0px 2px;font-weight: bold;
font-size: 20px;
color: #000;font-family: lato;}
.rupeew .stock1{float: right;
width: 125px;
font-size: 17px;
background-color: #00844d;
padding: 2px;
margin: 0px 10px 0px 0px;
color: #fff;
font-weight: bold;font-family: lato;}
.rupeew .stock1 input{width:60px; height:22px; border:1px solid #ccc;}
.buynow1{text-align:center; display:block; padding:5px 0px 5px 0px;}
.related{float:left; margin:20px 0px 0px 0px;}
.related h2{float:left; display:block; background:url(../images/title-strip.jpg) no-repeat top left; font-size:16px; font-weight:bold; color:#FFFFFF; margin:0px 0px 15px 0px; padding:6px 0px 10px 8px; width:97%;font-family:lato;}
.relatebor{width:99%; float:left; /*border-bottom:1px solid #ccc;*/ padding:5px 0px 5px 0px; /*margin-bottom:10px;*/}

/*#buy_btn{background-image: url("../images/product_cart.png") !important;background-repeat: no-repeat;
background-position: 0px 0px;cursor: pointer;position: absolute;text-align: center;z-index: 999;width: 33px;height: 32px;margin-left: -20px;margin-top: 26px;}
#buy_btn:hover{background-image: url("../images/product_cart.png") !important;background-repeat: no-repeat;
background-position: 0px 0px;cursor: pointer;position: absolute;text-align: center;z-index: 999;width: 33px;height: 32px;margin-left: -20px;margin-top: 26px;}*/
.relatedadds{width:645px; float:left; margin:10px 0px 20px 0px;}
.relatedaddstite{background:url(../images/title-strip1.jpg) no-repeat top left; width:645px; height:32px;}
.relatedaddstite h2{font-size:16px; font-weight:bold; text-align:left; color:#FFFFFF; border-bottom:none; margin:0px 0 10px; padding:6px 0px 6px 8px; font-family:lato;}
.addsimg{width:152px; float:left; margin-right:8px;}
.addsimg a{  color: #1930F8 !important;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    text-align: left !important; text-decoration:none; font-family: lato;}
.addsimg img{ width:98%; height:100%; margin:5px;}
.pro-details .browseProductImage{ width:100%}
* { margin:0; padding:0; }





 
button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer;   }
button.button span , .back-link a { display:block;  
font-family:'Roboto',Arial,Helvetica,sans-serif;
	 background:#6EC996; 
 	height: 16px;
	transition-duration:500ms;
    line-height: 16px;
    padding: 7px 12px;text-align:center; white-space:nowrap; color:#fff; text-decoration:none;text-transform:uppercase;}
button.button span span { border:0; padding:0;   }
button.button:hover span , .back-link a:hover ,.cart .discount button:hover span {background:#444444;transition-duration:500ms;}
button.disabled span { border-color:#bbb !important; background:#bbb !important; }
a.product-image { display:block;  margin:0 0 10px; }
.products-grid .product-name { margin:0 0 5px; font-weight:normal; font-size:14px; }
.products-grid .product-name a { }

.products-grid .price-box { margin:5px 0; }
.products-grid .availability { line-height:21px; } 

.product-carousel .product-block{
  background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    margin: 5px 8px;
    overflow: hidden;
}
.product-carousel .product-block .product-block-inner.p_img,.products-grid .product-block .product-block-inner.p_img
{
	 border: 1px solid #F3F3F3;
}

.product-carousel .product-block-inner{
  overflow: hidden;
    padding: 10px 10px;
    position: relative;
    text-align: center;
}


.img_shd
{
	box-shadow:0 0 12px 10px #F3F3F3 inset;
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	
}
.img_back
{
	left:0px;
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	opacity:0;
	visibility:hidden;
	transition-duration:500ms;
}
.product-block a.product-image{position:relative;margin:0px;overflow:hidden;}
.products-grid li .product-block:hover .product-block-inner.p_img, .product-carousel .product-block:hover .product-block-inner.p_img 
{
	background:#E1E1E1;
	transition-duration:500ms;
}
.product-block-inner.p_img
{
	transition-duration:500ms;
}
.products-grid li .product-block:hover .img_shd, .product-carousel .product-block:hover .img_shd
{
	box-shadow:none;
}
.products-grid li .product-block:hover .img_back, .product-carousel .product-block:hover .img_back
{
	background:url("../images/product_hover.png") repeat scroll center center transparent;
	opacity:1;
	visibility:visible;
	transition-duration:500ms;
}
.products-grid li .product-block button.button span, .product-carousel .product-block button.button span
{
	background:url("../images/product_cart.png") no-repeat scroll center 15px #6EC996;
	font-size:0px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	padding:0px;
	height:60px;
	width:65px;
	transition:background-color 0.6s ease-out 0s, color 0.15s ease-out 0s;
}
.products-grid li .product-block button.button:hover span, .product-carousel .product-block button.button:hover span
{
	background:url("../images/product_cart_hover.png") no-repeat scroll center 15px #253031;
	transition:background-color 0.6s ease-out 0s, color 0.15s ease-out 0s;
}
.products-grid li .product-block button.button span span, .product-carousel .product-block button.button span span
{
	background:transparent;
	padding:0px;
}
.products-grid li .product-block button.button:hover, .product-carousel .product-block button.button:hover
{
	border:1px solid rgba(37, 48, 49, 0.5);
}
.products-grid li .product-block button.button, .product-carousel .product-block button.button
{
	border:1px solid rgba(110, 201, 150, 0.5);
}
.products-grid li .product-block .add-to-links li a, .product-carousel .product-block .add-to-links li a{background:none;color:#fff;font-family:Roboto,Arial,Helvetica,sans-serif;font-size:14px;padding:0px;}
.products-grid li .product-block .add-to-links li a:hover, .product-carousel .product-block .add-to-links li a:hover{color:#12242D;}
.products-grid li .product-block .actions, .product-carousel .product-block .actions{position:absolute;top:55px;width:250px;opacity:0px;visibility:hidden;}
.ie7 .products-grid li .product-block .actions, .product-carousel .product-block .actions,.ie8 .products-grid li .product-block .actions, .product-carousel .product-block .actions{left:10px;}
.products-grid li .product-block:hover .out-of-stock, .product-carousel .product-block:hover .out-of-stock{color:#6EC996;}
.products-grid li .product-block:hover .actions, .product-carousel .product-block:hover .actions
{opacity:1;visibility:visible;transition-duration:500ms;}

.product-block-inner .browseProductImage{ width:100%}
.slider-item{ float:left}

.product-block-inner a {
position: relative;
margin: 0px;
overflow: hidden;
}
.pdf-link{ vertical-align:middle}
.stock1 input{font-size: 20px;
color: #000 !important;
font-weight: bold;}
.pdf-link a{color: #002aff;
font-size: 17px;
font-weight: bold; text-decoration: none;
text-align: left;font-family:lato;}
.source-code{vertical-align:middle}
.source-code a{color: #002aff;
font-size: 17px;
font-weight: bold; text-decoration: none;
text-align: left; font-family: lato;}
.more-link{margin-top: 10px;
display: block;
font-size: 13px;
font-weight: bold;}
.readmore-link{margin-top: 10px;
display: block;
font-size: 13px;
font-weight: bold; color:#1930f8 !important; text-decoration:none !important; text-align:left !important}
@font-face
{
font-family: neosans;
src: url("neosans/NeoSans.otf");
}
@font-face
{
font-family: lato;
src: url("lato/Lato-Regular.ttf");
}
.category-title a{font-family: neosans;
font-size: 46px;
text-decoration: none;
color: #1c83e5; font-weight:normal}
.rupee-width .add_cart_input{ float:none !important;width: 41px;
height: 22px;font-family: lato;
border: 1px solid #ccc;}
.rupeew .add_cart_input{   border: 1px solid #CCCCCC;
    float: none !important;
    height: 20px;
    margin-left: 102px;
    margin-top: 1px;
    position: absolute;
    width: 41px;}
.addsimg a:hover{ text-decoration:underline}
.category-title a{pointer-events: none;}

.jcarousel-skin-tango .jcarousel-container {

}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
  
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
 
}

.jcarousel-skin-tango .jcarousel-item {
   
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder { color: #000; background: #fff; }

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 160px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(arrows__right_over.gif) no-repeat;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 160px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(arrows__left_over.gif) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(arrows__right_over.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(arrows__left_over.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
.relatebor tr{display:block; margin:0px 0px 0px 0px; padding:10px 0px 10px 0px;}
#verticalTab ul li a.active{color:#808080}
.footer-menu h4 {
    border-bottom: 1px solid #8b94a0;
    color: #ffffff;
    font-family: 'Nokia Pure Text Bold';
    font-size: 26px;
    font-weight: normal;
}
#slide img{ width:100%;}
.slider_bg_img{
 
}
.slider_bg_img  .slider-active {
    background: url("../images/cir-h.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 12px;
    margin: 1px;
    width: 12px;
}
.slider_bg_img .slider {
    background: url("../images/cir.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 12px;
    margin: 1px;
    width: 12px;
}
.tot-items{ border:1px solid #aaa; line-height: 22px; border-radius:67%; padding: 3px 4px !important;margin: 0 0 0 15px !important;}
.container-fluid{ clear:both}
.create-licence1 {
  font-family: 'Nokia Pure Text';
  font-size: 14px;
  color: #333;
}.create-licence1 a {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}.godaddy-scanseal1 {
  text-align: center;
  padding-top: 30px;
}.credit-card1 {
  text-align: right;
  padding-top: 28px;
}
.rowone{ float: left;  min-height: 481px;}
