/**
* \file highslide_rtl.css
* CSS file for HighSlide -right to left direction
*
* \author PortaMx - Portal Management Extension
* \author Copyright 2008-2011 by PortaMx - http://portamx.com
* \version 1.45
* \date 27.09.2011
*/

.highslide-caption, .highslide-heading {
   direction: rtl;
}
.highslide-html-content {
   direction: rtl;
}
